snippet h
	/**
	 * ${1:`Filename("", "untitled")`}
	 *
	 * ${2:TODO Description if available.}
	 */
	
	${4:// TODO code here}

	// vim:ft=java ts=4 tw=80 cc=+1: 
snippet tm
	/** 
	 * ${1:TODO: Method definition.}
	*/
	@Test
	public void test${2:Method}() { 
		${3:// TODO test code here.} 
	}
snippet inh
	/**
	 * {@inheritDoc}
	 */
