snippet agr 
	Ariel Gerardo Rios (ariel.gerardo.rios@gmail.com)

snippet h
	#!/usr/bin/env python
	# -*- coding: utf-8 -*-
	
	"""
	Description: ${1}
	"""
	__author__ = "Ariel Gerardo Rios (ariel.gerardo.rios@gmail.com)"

	${2}

snippet f
	# vim: ai ts=4 sts=4 et sw=4 ft=python
