# header
snippet h
	#!/usr/bin/groovy
	
	# ${1:`Filename("", "untitled")`}
	# 
	# ${2:Description if available.}
	# 
	# Author: Ariel Gerardo Rios <mailto:${3:arielgerardorios@gmail.com}>
	
	
	${5:// TODO: code here}
	                                                                        
	// vim:ft=groovy:

snippet for
	for(${1}) {
		${2:// TODO: code here}
	}

snippet fore
	for(${1} in ${2}) {
		${3:// TODO: code here}
	}
